// @tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  min-height: 100vh;
  padding: 0px;
  margin: 0;
}

#nprogress .bar {
  background: #29d !important;
}

.layout-page-container {
  &::-webkit-scrollbar {
    z-index: 0 !important;
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0);
  }

  &::-webkit-scrollbar-corner {
    z-index: 0;
    background-color: rgba(255, 255, 255, 0);
  }

  &::-webkit-scrollbar-thumb {
    width: 8px;
    height: 8px;
    border-radius: 3px;
    z-index: 0 !important;
    background-color: rgb(175, 185, 192);
  }
}

.dark {
  .layout-page-container {
    &::-webkit-scrollbar-thumb {
      background-color: rgb(114, 114, 114);
    }
  }
}
